@{
    ViewBag.Title = "Access Denied";
    ViewBag.pageTitle = "Account";
    ViewBag.pTitle = "Access Denied";
    ViewBag.noPageTitle = false;
    //ViewBag.parentHref = @Url.RouteUrl("default", new { controller = "Gallery", action = "Index" });
    Layout = "~/Views/_Shared/_GalleryLayout.cshtml";
}

<div class="container">
    <div class="col-md-8 mx-auto">
        <p>You do not have permission to view this page.</p>
    </div>
</div>

