@{
    ViewBag.Title = "View Quote Requests";
    ViewBag.pageTitle = "Traditional Handicraft Gallery";
    ViewBag.pTitle = "View Quote Requests";
    ViewBag.noPageTitle = false;
    Layout = "~/Views/_Shared/_GalleryLayout.cshtml";
}
<div class="container">
    View Quote Requests here, havent implement
</div>