@{
    ViewBag.Title = "Register";
    ViewBag.pageTitle = "Traditional Handicraft Gallery";
    ViewBag.pTitle = "Register";
    ViewBag.noPageTitle = false;
    Layout = "~/Views/_Shared/_GalleryLayout.cshtml";
}
<div class="container">
    <div class="col-md-8 mx-auto">
        <div class="hm_login_header">
            <h1>Register Form</h1>
        </div>
        <div class="login_fields">
            <form>
                <div class="form-group mb-2">
                    <input type="text" class="form-control" id="uname" placeholder="Name">
                </div>
                <div class="form-group mb-2">
                    <input type="text" class="form-control" id="email" placeholder="Email">
                </div>
                <div class="form-group mb-2">
                    <input type="password" class="form-control" id="password" placeholder="Password">
                </div>
                <div class="form-group mb-2">
                    <input type="password" class="form-control" id="re-password" placeholder="Re-type Password">
                </div>
                <div class="form_btn mb-3">
                    <a href="#" class="hm_btn"> register now</a>
                    <div class="register_info">already have an account? <a href="@Url.RouteUrl("default", new { controller = "AuthGalleryLogin", action = "Index" })">login</a></div>
                </div>
            </form>
        </div>
    </div>
</div>